body {
	background-color:black;
}

hr {
	margin-top:0;
	border-color:black;
}

@media (max-width:710px) {
	h3 {
	font-size:3vw;
	}
	h2 {
		font-size:5vw;
	}
}

#stats {
	width:50%;
	margin-left:5vw;
	margin-right:5vw;
	position:relative;
	top:10vh;
  left:20vw;
	background-color:#3af;
}
